@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />
<style>
    .afoot{
        padding-right:25px;
    }
</style>
<RadzenLayout id="@(@NavigationManager.Uri.Equals(@NavigationManager.BaseUri) ? "Home" : Path.GetFileName(NavigationManager.Uri))">

    <RadzenHeader>
        <div class="headerDiv">
            <a href="/">
                <RadzenImage Path="../img/logo.png" class="logo" @onclick="@(_ => NavigationManager.NavigateTo("./"))" />
            </a>
            <RadzenMenu>
                <AuthorizeView>
                    <NotAuthorized>
                        <RadzenMenuItem Path="/Terapias">
                            <Template>

                                <span class="rz-navigation-item-text">TERAPIAS</span>
                            </Template>
                        </RadzenMenuItem>
                        <RadzenMenuItem Path="/Equipo">
                            <Template>

                                <span class="rz-navigation-item-text">EQUIPO</span>
                            </Template>
                        </RadzenMenuItem>
                        <RadzenMenuItem Path="/QuienesSomos">
                            <Template>

                                <span class="rz-navigation-item-text">¿QUIENES SOMOS?</span>
                            </Template>
                        </RadzenMenuItem>

                        <RadzenMenuItem Path="/Contacto">
                            <Template>

                                <span class="rz-navigation-item-text">CONTACTO</span>
                            </Template>
                        </RadzenMenuItem>
                    </NotAuthorized>
                    <Authorized>
                        @if (!context.User.IsInRole("Psicologo") && !context.User.IsInRole("Administrador"))
                        {
                            <RadzenMenuItem Path="/Terapias">
                                <Template>
                                    <span class="rz-navigation-item-text">TERAPIAS</span>
                                </Template>
                            </RadzenMenuItem>
                            <RadzenMenuItem Path="/Equipo">
                                <Template>

                                    <span class="rz-navigation-item-text">EQUIPO</span>
                                </Template>
                            </RadzenMenuItem>
                            <RadzenMenuItem Path="/QuienesSomos">
                                <Template>

                                    <span class="rz-navigation-item-text">¿QUIENES SOMOS?</span>
                                </Template>
                            </RadzenMenuItem>

                            <RadzenMenuItem Path="/Contacto">
                                <Template>

                                    <span class="rz-navigation-item-text">CONTACTO</span>
                                </Template>
                            </RadzenMenuItem>
                            <RadzenMenuItem Path="/Agenda">
                                <Template>
                                    <span class="rz-navigation-item-text">AGENDA</span>
                                </Template>
                            </RadzenMenuItem>
                            <RadzenMenuItem Path="/Informes">
                                <Template>
                                    <span class="rz-navigation-item-text">INFORMES</span>
                                </Template>
                            </RadzenMenuItem>

                        }
                        else
                        {
                            <RadzenMenuItem Path="/Agenda">
                                <Template>
                                    <span class="rz-navigation-item-text">AGENDA</span>
                                </Template>
                            </RadzenMenuItem>
                            <RadzenMenuItem Path="/Informes">
                                <Template>
                                    <span class="rz-navigation-item-text">INFORMES</span>
                                </Template>
                            </RadzenMenuItem>
                            <RadzenMenuItem Path="/Usuarios">
                                <Template>
                                    <span class="rz-navigation-item-text">USUARIOS</span>
                                </Template>
                            </RadzenMenuItem>
                            <RadzenMenuItem Path="/Trastornos">
                                <Template>
                                    <span class="rz-navigation-item-text">TRASTORNOS</span>
                                </Template>
                            </RadzenMenuItem>
                        }
                    </Authorized>
                </AuthorizeView>
            </RadzenMenu>


            <RadzenMenu class="accountMenu">
                <AuthorizeView>
                    <Authorized>
                        @if (Name == null)
                        {
                            <RadzenMenuItem class="account-menu-item" style="margin-right:0px" Text="@context.User?.Identity?.Name" Icon="account_circle">
                                <RadzenMenuItem Text="Mis Datos" Path="/MisDatos" />
                                <RadzenMenuItem Text="Configuración" Path="/Configuracion" />
                                <RadzenMenuItem Text="Cerrar sesión" Path="/Logout" />
                            </RadzenMenuItem>
                        }
                        else
                        {
                            <RadzenMenuItem class="account-menu-item" style="margin-right:0px" Text="@Name" Icon="account_circle">
                                <RadzenMenuItem Text="Mis Datos" Path="/MisDatos" />
                                <RadzenMenuItem Text="Configuración" Path="/Configuracion" />
                                <RadzenMenuItem Text="Cerrar sesión" Path="/Logout" />
                            </RadzenMenuItem>
                        }
                    </Authorized>
                    <NotAuthorized>
                        <RadzenMenuItem Path="/Login">
                            <Template>

                                <span class="rz-navigation-item-text">Iniciar Sesión</span>
                            </Template>
                        </RadzenMenuItem>
                        <RadzenMenuItem Path="/Register">
                            <Template>

                                <span class="rz-navigation-item-text">Registrarse</span>
                            </Template>
                        </RadzenMenuItem>
                    </NotAuthorized>
                </AuthorizeView>

            </RadzenMenu>
        </div>
    </RadzenHeader>

    <RadzenBody style="padding: inherit">
        <ChildContent>
            <RadzenContentContainer Name="main">
                <ErrorBoundary @ref="ErrorBoundary">
                    <ChildContent>
                        @Body
                    </ChildContent>
                    <ErrorContent>
                        @{
                            OnError(context);
                        }
                    </ErrorContent>
                </ErrorBoundary>
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>

    <RadzenFooter class="Footer">
        <div>
            <div>
                <a class="afoot" href="/Contacto" alt="" title="">Contactanos</a>
                <a class="afoot" href="/Documentation" alt="" title="">Documentaci&oacute;n</a>
                <a class="afoot" href="/QuestionsAndAnswers" alt="" title="">FAQ</a>
                <a class="afoot" href="/PoliciesAndPrivacy" alt="" title="">LEGAL</a>

            </div>
        </div>
    </RadzenFooter>

</RadzenLayout>

