@page "/Agenda"
@using GabinetePsicologia.Shared

@if (isInRole)
{
    <div class="d-flex flex-column align-items-center justify-content-center ">
        <h3>Citas</h3>
        <br>

        @if (ProximasCitas.Count > 0)
        {
            <h5>Próximas Citas</h5>
            <div>
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            @if (isPsicologo || isAdmin)
                            {
                                <th>Paciente</th>
                            }
                            @if (isPaciente || isAdmin)
                            {
                                <th>Psicólogo</th>
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var x in ProximasCitas)
                        {
                            <tr>
                                <td>@x.FecInicio.Date.ToShortDateString()</td>
                                <td>@x.FecInicio.ToString("HH:mm") -  @x.FecFin.ToString("HH:mm")</td>
                                @if (isPsicologo || isAdmin)
                                {
                                    <td>@x.Nombre</td>
                                }
                                @if (isPaciente || isAdmin)
                                {
                                    <td>@PsicologoName(x.PsicologoId)</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <hr style="border: none;width: 65%;height: 2px;opacity:1; background-color:var(--rz-primary);">
        }


        <br>
        <h5>Agenda</h5>
        @* <RadzenDropDown @bind-Value=@value Data=@lsPsicologos TextProperty="Nombre" ValueProperty="Nombre" />*@
        <div class="AgendaFilter">
            @if (isAdmin)
            {
                <RadzenDropDown TValue="GabinetePsicologia.Shared.Psicologo" class="AgendaFilter1" Data=@lsPsicologos FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
                        TextProperty="FullName" ValueProperty="Id" AllowClear=true Placeholder="Selecciona un Psicólogo" Change="@change" />
            }
            @if (isPsicologo || isAdmin)
            {
                <RadzenDropDown TValue="GabinetePsicologia.Shared.Paciente" Data=@lsPacientes FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
                        TextProperty="FullName" ValueProperty="Id" AllowClear=true Placeholder="Selecciona un Paciente" Change="@changePaciente"  />
            }

        </div>
        <br /><br />
        <RadzenScheduler @ref=@scheduler Data="@data" TItem="Cita" Style="width:70%"
                     StartProperty="FecInicio" EndProperty="FecFin" TextProperty="Nombre" SelectedIndex="1" TodayText="Hoy" 
                     SlotRender=@OnSlotRender AppointmentRender=@OnAppointmentRender SlotSelect=@OnSlotSelect AppointmentSelect="OnAppointmentSelect">
            <RadzenDayView Text="Dia" TimeFormat="H"/>
            <RadzenWeekView Text="Semana" TimeFormat="HH" StartTime="StartDate" EndTime="EndDate" />
            <RadzenMonthView Text="Mes"  />
            <RadzenYearView Text="Año" />
        </RadzenScheduler>
        <br>
    </div>
    <br>
}
else
{
    <_403 />
   
}
